
/*Front */
.home{
    background-image: url("");
}

h4{
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: 5%;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: large;
    
}
h3{
   
    text-align: center;
    font-weight: bold;
    font-size: large;
    
    

}

h1{
    position: relative;
    text-align: center;
    margin-top: 60%;
 
    
}

.btn{
    text-align: center;
}

.front{
    text-align: center;
    
}

.align{
   
    margin: 0;
}

.beard{
    margin-left: 26%;
    margin-top: 40%;
    width: 50%;
}

.drop{
    margin-top: 5% ;
}
/* about section */
#about{
    background-image: url("");

}
.me2{
 margin-top: 20%;
}

.square{
    text-align: center;
   padding: 2%;
    
    margin: auto;
    box-sizing: border-box;
    
  
    
}

.skill{

text-align: center;
padding: 5%;






}

.skills{
    margin-left: 10px;
}

.skills2{
   
   
}

.react{
    color: blue;
   
    
    
}

.js{
    color: red;
    
}

.ht{
    color: darkblue;
    
}
.css{
    color: yellow;
    
}

.boot{
    color: purple;
  
    
}

.scss{
    color: red;
    margin-left: 15px ;
}

.me{
    text-align: center;
   
}



.lang{
    margin-top: 2%;
}
/* work section */
#work{
    background-image: url(""); 

}
.b{
    text-align: center;
}


/* contact section */
#contact{
    background-image: url("");
}

.circle{
    margin-top: -8%;
    margin-left: 10px;
}

/* resume*/

.opener{
    text-align: center;

}

.experience{
    text-align: center;
}

.certificates{
    text-align: center;

}

.awards{
    margin-left: 30%;
}

.education{
    text-align: center;
}

.skillss{
    text-align: center;
}

.link{
    color: blue;
}

.git{
    color: black;
}